body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://img.freepik.com/vetores-gratis/photocall-de-jogos-de-neon-desenhado-a-mao_23-2149860761.jpg);
}

.screen{
    display: flex;
    padding: 16px 0px 16px 16px;
    background: rgb(64, 8, 82);
    width: 480px;
    height: 320px;

}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color:  rgb(64, 8, 82);
    width: 200px;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
}